{% extends 'portfolio/master/base.html' %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="card bg-warning border-0 shadow-sm rounded-4">
        <div class="card-body p-4">
          <h4 class="card-title text-uppercase fw-bold">About Me</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-warning border-0 shadow-sm rounded-4">
        <div class="card-body p-4">
          <h4 class="card-title text-uppercase fw-bold">Projects</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col">
      <div class="card bg-warning border-0 shadow-sm rounded-4">
        <div class="card-body p-4">
          <h4 class="card-title text-uppercase fw-bold">Skills</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card bg-warning border-0 shadow-sm rounded-4">
        <div class="card-body p-4">
          <h4 class="card-title text-uppercase fw-bold">Contact</h4>
          <p class="card-text">Text</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}